/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #555c6a;
  --ifm-color-primary-dark: #4d535f;
  --ifm-color-primary-darker: #484e5a;
  --ifm-color-primary-darkest: #3c404a;
  --ifm-color-primary-light: #5e6575;
  --ifm-color-primary-lighter: #626a7a;
  --ifm-color-primary-lightest: #6f788a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cdf27e;
  --ifm-color-primary-dark: #c0ef5d;
  --ifm-color-primary-darker: #baed4c;
  --ifm-color-primary-darkest: #a6e81a;
  --ifm-color-primary-light: #daf59f;
  --ifm-color-primary-lighter: #e0f7b0;
  --ifm-color-primary-lightest: #f4fce2;
}
